#p1{
	font-family: "Bricolage Grotesque";
      font-weight:bold;
	
	
	}
#p2{
font-family:'Lumanosimo', cursive;
	font-style:italic;
	font-size: 30px;
	font-variant:small-caps;
}
#p3{
	
font-family:'Dancing Script', cursive;
	font-weight:500;
}
#p4{
	font:italic small-caps bold 16px/60px serif;
}
.fa-brands fa-facebook{
	color:black;
	
}
